////////////////////////////////////////////
//   Layout Styles
///////////////////////////////////////////
tml, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}


////////////////////////////////////////////
//   Sidebar Styles
///////////////////////////////////////////
.side-bar {
	width: 15%;
	float: left;
	padding: 10px;
}


////////////////////////////////////////////
//   Header Styles
///////////////////////////////////////////
.header {
	width: 100%;
	height: 10%;
	float: right;
	background-color: cadetblue;
	padding: 5px;
}

////////////////////////////////////////////
//   Income Statement Styles
///////////////////////////////////////////
.income-statement {
    width: 50%;
    margin: auto;
    float: left;
}

////////////////////////////////////////////
//   Income Statement Financials View Styles
///////////////////////////////////////////
.income-statement-financials {
    width: 45%;
    margin: auto;
    padding: 5px;
    float: left;
}

.revenue-summary-box {
    background: mediumseagreen;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.income-statement-financials .financial-revenue-box h5 {
    text-align: center;
}

.income-statement-financials .costs-summary-box {
	background: #cd7272;
	color: white;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;
}

.income-statement-financials .gross-profit-box {
	background: #4364db;
	color: white;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;
}

.income-statement-financials .operating-expenses-box {
	background: #cd7272;
	color: white;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;
}

.income-statement-financials .ebitda-box {
	background: #4364db;
	color: white;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;
}

////////////////////////////////////////////
//   Revenue View Styles
///////////////////////////////////////////
.revenue {
    padding: 5px;
    width: 45%;
    margin: auto;
    float: left;
}

.revenue h4 {
    height: 15px;
		font-weight: normal;
    display: block;
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.revenue .revenue-summary {
    font-size: 14px;
    align-content: center;
    text-align: center;
    color: black;
    text-decoration: underline;
}

.revenue .revenue-summary-box {
    background: mediumseagreen;
    color: white;
    border-radius: 5px;
    padding: 5px;
		margin-bottom: 10px;
		display: inline-block;
		width: 100%;
}

.revenue .add-new-item {
    background: mediumseagreen;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    vertical-align: middle;
}

.revenue-summary-box .revenue-item-clear {
	margin-bottom: 10px;
	width: 10%;
	float: left;
}

.revenue-summary-box .revenue-item-edit {
	margin-bottom: 10px;
	width: 10%;
	float: left
}

.revenue-summary-box .revenue-controls {
	width: 100%;
}

.revenue-summary-box .widget-details {
	width: 100%;
	margin: 0 auto;
}

.revenue-summary-box .widget-details .widget-detail-label {
	width: 50%;
	float: left;
}
.revenue-summary-box .widget-details .widget-detail-value {
	width: 50%;
	float: right;
	text-align: right;
}

.revenue-summary-box #widget-ppu #widget-unit-label {
	width: 40%;
}

.revenue-summary-box #widet-total-revenue #widget-unit-label {
	width: 40%;
}

////////////////////////////////////////////
//   Cost View Styles
///////////////////////////////////////////
.cost {
    padding: 5px;
    width: 45%;
    margin: auto;
    float: left;
}

.cost h4 {
    height: 15px;
		font-weight: normal;
    display: block;
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.cost .cost-summary {
    font-size: 14px;
    align-content: center;
    text-align: center;
    color: black;
    text-decoration: underline;
}

.cost .cost-summary-box {
    background: #cd7272;
    color: white;
    border-radius: 5px;
    padding: 5px;
		margin-bottom: 10px;
		display: inline-block;
		width: 100%;
}

.cost .add-new-item {
    background: #cd7272;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    vertical-align: middle;
}

.cost-summary-box .cost-item-clear {
	margin-bottom: 10px;
	width: 10%;
	float: left;
}

.cost-summary-box .cost-item-edit {
	margin-bottom: 10px;
	width: 10%;
	float: left
}

.cost-summary-box .cost-controls {
	width: 100%;
}

.cost-summary-box .widget-details {
	width: 100%;
	margin: 0 auto;
}

.cost-summary-box .widget-details .widget-detail-label {
	width: 50%;
	float: left;
}
.cost-summary-box .widget-details .widget-detail-value {
	width: 50%;
	float: right;
	text-align: right;
}

.cost-summary-box #widget-ppu #widget-unit-label {
	width: 40%;
}

.cost-summary-box #widet-total-cost #widget-unit-label {
	width: 40%;
}

////////////////////////////////////////////
//   Opex View Styles
///////////////////////////////////////////
.opex {
    padding: 5px;
    width: 45%;
    margin: auto;
    float: left;
}

.opex h4 {
    height: 15px;
		font-weight: normal;
    display: block;
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.opex .opex-summary {
    font-size: 14px;
    align-content: center;
    text-align: center;
    color: black;
    text-decoration: underline;
}

.opex .opex-summary-box {
    background: #cd7272;
    color: white;
    border-radius: 5px;
    padding: 5px;
		margin-bottom: 10px;
		display: inline-block;
		width: 100%;
}

.opex .add-new-item {
    background: #cd7272;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    vertical-align: middle;
}

.opex-summary-box .opex-item-clear {
	margin-bottom: 10px;
	width: 10%;
	float: left;
}

.opex-summary-box .opex-item-edit {
	margin-bottom: 10px;
	width: 10%;
	float: left
}

.opex-summary-box .opex-controls {
	width: 100%;
}

.opex-summary-box .widget-details {
	width: 100%;
	margin: 0 auto;
}

.opex-summary-box .widget-details .widget-detail-label {
	width: 50%;
	float: left;
}
.opex-summary-box .widget-details .widget-detail-value {
	width: 50%;
	float: right;
	text-align: right;
}

.opex-summary-box #widget-ppu #widget-unit-label {
	width: 40%;
}

.opex-summary-box #widet-total-opex #widget-unit-label {
	width: 40%;
}

.footer {
	color: #777;
	padding: 10px 15px;
	height: 20px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
}

.footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	            0 8px 0 -3px #f6f6f6,
	            0 9px 1px -3px rgba(0, 0, 0, 0.2),
	            0 16px 0 -6px #f6f6f6,
	            0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.clear-completed,
html .clear-completed:active {
	float: right;
	position: relative;
	line-height: 20px;
	text-decoration: none;
	cursor: pointer;
}

.clear-completed:hover {
	text-decoration: underline;
}

.info {
	margin: 65px auto 0;
	color: #bfbfbf;
	font-size: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-align: center;
}

.info p {
	line-height: 1;
}

.info a {
	color: inherit;
	text-decoration: none;
	font-weight: 400;
}

.info a:hover {
	text-decoration: underline;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.toggle-all,
	.todo-list li .toggle {
		background: none;
	}

	.todo-list li .toggle {
		height: 40px;
	}

	.toggle-all {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-appearance: none;
		appearance: none;
	}
}

@media (max-width: 430px) {
	.footer {
		height: 50px;
	}

	.filters {
		bottom: 10px;
	}
}
